html,
body {
    max-height: 100vh;
}

body {
    margin: 0;
    background-color: #161616;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6E72FC;
    clip-path: polygon(100% 0%, 100% 100%, 85.4% 100%);
}


section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A4BFEF;
    clip-path: polygon(0% 0%, 0% 100%, 14.6% 0%);
}



.container--homepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.container--homepage h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 50px;
}

.homepage--paragraph {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 700px;
    height: auto;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: rgba(110, 114, 252, 1) 0px 10px 20px, rgba(178, 6, 201, 0.12) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    letter-spacing: 2px;
    margin-top: 100px;
}

.container--homepage button {
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: auto;
    background-image: linear-gradient(#A4BFEF, #6A93CB);
    color: white;
}

.container--homepage button:hover {
    cursor: pointer;
    background-image: linear-gradient(#6782B4, #6E72FC);
}

.container--users {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 300px);
    width: 50%;
    min-width: 940px;
    z-index: 0;
}

.users--card {
    display: flex;
    height: 300px;
    width: 250px;
    margin: 20px;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: rgba(110, 114, 252, 1) 0px 5px 15px, rgba(178, 6, 201, 0.12) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.users--card:hover {
    transform: translateY(-10px);
}

.users--card p {
    color: white;
    margin: 3px;
    font-size: 14px;
    letter-spacing: 1px;
}

.users--card img {
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}

.users--card button {
    margin-top: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: auto;
    background-image: linear-gradient(#A4BFEF, #6A93CB);
    color: white;
}

.users--card button:hover {
    cursor: pointer;
    background-image: linear-gradient(#6782B4, #6E72FC);
}

.main--container--users {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main--container--users h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 50px;
}

.main--container--button {
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: auto;
    background-image: linear-gradient(#A4BFEF, #6A93CB);
    color: white;
}


.main--container--button:hover {
    cursor: pointer;
    background-image: linear-gradient(#6782B4, #6E72FC);
}


.container--single--user {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container--single--user h1 {
    margin-top: 50px;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.container--single--user button {
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    margin-top: 100px;
    border-radius: 5px;
    height: 40px;
    width: auto;
    background-image: linear-gradient(#A4BFEF, #6A93CB);
    color: white;
}

.container--single--user button:hover {
    cursor: pointer;
    background-image: linear-gradient(#6782B4, #6E72FC);
}

.div--information {
    font-family: 'Roboto Mono', monospace;
    width: 700px;
    height: auto;
    padding: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: rgba(110, 114, 252, 1) 0px 10px 20px, rgba(178, 6, 201, 0.12) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    letter-spacing: 2px;
    margin-top: 50px;
    border: 1px solid white;
}


.container--error--page {
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
}


.emoji--error {
    font-size: 100px;
}